/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  background-color: #14225B;
  color: white;
  height: 100%;
  font-family: 'Fascinate Inline', cursive;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.container {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}
@media ( max-width: 500px) {
  .container {
    width: 90%;
    margin: 0 5%;
  }
}
.main-navigation {
  width: 100%;
  display: flex;
}
@media ( max-width: 500px) {
  .main-navigation {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.main-navigation .logo {
  margin: 25px 10px 0 90px;
}
@media ( max-width: 500px) {
  .main-navigation .logo {
    margin: 20px 0;
    order: -1;
    display: block;
  }
}
.nav {
  margin-top: 40px;
  width: 610px;
  justify-content: space-between;
  display: flex;
}
@media ( max-width: 500px) {
  .nav {
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}
.nav a {
  text-decoration: none;
  color: #b0b0b0;
  font-size: 2rem;
}
@media ( max-width: 500px) {
  .nav a {
    width: 100%;
    display: block;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    border-bottom: 1px solid #F6AC46;
  }
}
@media ( max-width: 500px) {
  .nav a:first-child {
    border-top: 1px solid #F6AC46;
  }
}
.nav a:hover {
  text-decoration: underline;
  color: black;
}
@media ( max-width: 500px) {
  .nav a:hover {
    background: #F6AC46;
  }
}
.cta {
  display: flex;
  margin-top: 7.2rem;
  justify-content: center;
}
@media ( max-width: 500px) {
  .cta {
    margin-top: 5rem;
    flex-flow: column;
    align-items: center;
  }
}
.cta .cta-text {
  font-size: 7.2rem;
  text-align: center;
  letter-spacing: 0.5rem;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin: 0 8.2rem 0 0;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@media ( max-width: 500px) {
  .cta .cta-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
.cta .cta-text button {
  border: 2px double black;
  font-size: 16px;
  font-weight: bolder;
  background: #F6AC46;
  width: 17.5rem;
  height: 5rem;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 1.3rem;
  animation-duration: 2s;
  animation-name: slidein, bounce;
}
.cta .cta-text button:hover {
  background: black;
  color: white;
}
.main-content {
  border-top: 2px solid #F6AC46;
  border-bottom: 2px solid #F6AC46;
  margin: 75px 0 35px 0;
  padding: 35px 0;
  font-size: 1.6rem;
  line-height: 1.8rem;
}
@media ( max-width: 500px) {
  .main-content .text-content {
    margin: 0;
  }
}
.main-content .top-content {
  display: flex;
}
@media ( max-width: 500px) {
  .main-content .top-content {
    justify-content: space-around;
    flex-direction: column;
    height: 300px;
  }
}
.main-content .top-content p {
  padding-right: 2rem;
}
.main-content .middle-img {
  display: block;
  margin: 30px auto;
  width: 100%;
  height: 100%;
}
.main-content .bottom-content {
  display: flex;
}
@media ( max-width: 500px) {
  .main-content .bottom-content {
    flex-wrap: wrap;
    align-content: space-around;
    height: 300px;
  }
}
.main-content .bottom-content p {
  padding-right: 20px;
}
.accordion .panel {
  margin-bottom: 3.5rem;
  padding: 30px;
  border: 3px solid #F6AC46;
  font-size: 1.6rem;
  line-height: 1.8rem;
}
.accordion .panel p {
  animation-duration: 1s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.accordion .panel .panel-bar {
  display: flex;
  justify-content: space-between;
}
.accordion .panel .panel-bar .panel-buttons button {
  cursor: pointer;
}
.accordion .panel .panel-bar .panel-buttons .hide-btn {
  display: none;
}
.accordion .panel .panel-content {
  display: none;
}
.accordion .panel .toggle-on {
  display: block;
}
.team {
  border-top: 2px solid #F6AC46;
  border-bottom: 2px solid #F6AC46;
  margin: 7.5rem 0 3.5rem 0;
  padding: 3.5rem 0;
  font-size: 1.6rem;
  line-height: 1.8rem;
}
.team .text-content {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
